.img-inicio {
  width: 100%;
}

.sect-dest {
  background-color: rgb(250, 215, 250);
  text-align: center;
  padding-bottom: 10px;
}
.sect-dest h2 {
  padding: 10px;
}
.sect-dest .destacados {
  display: grid;
  grid-template-areas: "img1  img2   img3   img4" "img5  img6   img7   img8";
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 50% 50%;
  justify-content: center;
}
.sect-dest .destacados .imgs:hover {
  transform: scale(1.09);
}
.sect-dest .destacados #img1 {
  grid-area: img1;
  width: 100%;
  padding: 10px;
}
.sect-dest .destacados #img2 {
  grid-area: img2;
  width: 100%;
  padding: 10px;
}
.sect-dest .destacados #img3 {
  grid-area: img3;
  width: 100%;
  padding: 10px;
}
.sect-dest .destacados #img4 {
  grid-area: img4;
  width: 100%;
  padding: 10px;
}
.sect-dest .destacados #img5 {
  grid-area: img5;
  width: 100%;
  padding: 10px;
}
.sect-dest .destacados #img6 {
  grid-area: img6;
  width: 100%;
  padding: 10px;
}
.sect-dest .destacados #img7 {
  grid-area: img7;
  width: 100%;
  padding: 10px;
}
.sect-dest .destacados #img8 {
  grid-area: img8;
  width: 100%;
  padding: 10px;
}

footer {
  background-color: rgb(193, 175, 194);
  font-size: 20px;
  text-align: center;
  grid-area: footer;
  background-color: #000000;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer ul .footer {
  padding: 20px;
  font-family: "Turret Road", sans-serif;
  font-weight: 500;
}
footer ul .footer a:hover {
  color: #e644d8;
  border: solid rgb(104, 57, 98);
  padding: 10px;
  border-radius: 5%;
}
footer .div-redes {
  display: flex;
  justify-content: space-around;
}
footer .div-redes .redes {
  border-radius: 10px;
  width: 50px;
  margin-inline: 30px;
  margin-top: 80px;
  margin-bottom: 30px;
}
footer .div-p {
  display: flex;
  justify-content: space-between;
  color: #d4c3d2;
}

header {
  text-align: center;
  background-color: #d4c3d2;
}
header h3 {
  font-size: 0.9em;
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
}

nav {
  position: sticky !important;
  top: 0;
  z-index: 999;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: rgb(253, 240, 255);
  margin-bottom: 10px;
}
nav ul {
  font-family: "Turret Road", sans-serif;
  font-weight: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
  justify-content: space-between;
  margin: 0;
}
nav ul .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul .left li {
  padding-left: 10%;
  list-style-type: none;
}
nav ul .left li .logo {
  width: 65px;
  border-radius: 30%;
}
nav ul .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul .right li {
  list-style: none;
}

.form-1 {
  display: flex;
  flex-direction: column;
}

.enlaces {
  display: grid;
  grid-template-areas: "vestidos sinmangas sinmangas" "vestidos basicos faldas";
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 50% 50%;
  justify-content: center;
  overflow: hidden;
}
.enlaces #vestidos {
  grid-area: vestidos;
}
.enlaces #sinmangas {
  grid-area: sinmangas;
}
.enlaces #basicos {
  grid-area: basicos;
}
.enlaces #faldas {
  grid-area: faldas;
}
.enlaces .img-enlaces {
  padding: 10px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}
.enlaces .img-enlaces:hover {
  transform: scale(1.2);
  filter: brightness(50%);
}

.vestidos {
  height: 800px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "a b c " "a b c " "a b c ";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 40% 15% 15%;
}
.vestidos a {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: block;
}
.vestidos a .img-cambio1 {
  background-image: url(../img/vd-1.webp);
  grid-area: a;
}
.vestidos a .img-cambio2 {
  background-image: url(../img/vl-1.webp);
  grid-area: b;
}
.vestidos a .img-cambio3 {
  background-image: url(../img/vs-1.webp);
  grid-area: c;
}
.vestidos a .img-cambio1:hover {
  background-image: url(../img/vd-1cambio.webp);
}
.vestidos a .img-cambio2:hover {
  background-image: url(../img/vl-1cambio.webp);
}
.vestidos a .img-cambio3:hover {
  background-image: url(../img/vs-1cambio.webp);
}

.sinmangas {
  height: 800px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "a2 b2 c2 " "a2 b2 c2 " "a2 b2 c2 ";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 40% 15% 15%;
}
.sinmangas a {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: block;
}
.sinmangas .img2-cambio1 {
  background-image: url(../img/ta2-1.webp);
  grid-area: a2;
}
.sinmangas .img2-cambio2 {
  background-image: url(../img/tn-1.webp);
  grid-area: b2;
}
.sinmangas .img2-cambio3 {
  background-image: url(../img/tr-1.webp);
  grid-area: c2;
}
.sinmangas .img2-cambio1:hover {
  background-image: url(../img/ta2-1cambio.webp);
}
.sinmangas .img2-cambio2:hover {
  background-image: url(../img/tn-1cambio.png);
}
.sinmangas .img2-cambio3:hover {
  background-image: url(../img/tr-1cambio.png);
}

.basicos {
  height: 800px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "a3 b3 c3 " "a3 b3 c3 " "a3 b3 c3 ";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 40% 15% 15%;
}
.basicos a {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: block;
}
.basicos .img3-cambio1 {
  background-image: url(../img/ta-1.webp);
  grid-area: a3;
}
.basicos .img3-cambio2 {
  background-image: url(../img/td-1.webp);
  grid-area: b3;
}
.basicos .img3-cambio3 {
  background-image: url(../img/tm-1.webp);
  grid-area: c3;
}
.basicos .img3-cambio1:hover {
  background-image: url(../img/ta-1cambio.png);
}
.basicos .img3-cambio2:hover {
  background-image: url(../img/td-1cambio.png);
}
.basicos .img3-cambio3:hover {
  background-image: url(../img/tm-1cambio.png);
}

.faldas {
  height: 800px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "a4 b4 c4 " "a4 b4 c4 " "a4 b4 c4 ";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 40% 15% 15%;
}
.faldas a {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: block;
}
.faldas .img4-cambio1 {
  background-image: url(../img/mc-1.webp);
  grid-area: a3;
}
.faldas .img4-cambio2 {
  background-image: url(../img/fa-1.webp);
  grid-area: b3;
}
.faldas .img4-cambio3 {
  background-image: url(../img/se-1.webp);
  grid-area: c3;
}
.faldas .img4-cambio1:hover {
  background-image: url(../img/mc-1cambio.webp);
}
.faldas .img4-cambio2:hover {
  background-image: url(../img/fa-1cambio.webp);
}
.faldas .img4-cambio3:hover {
  background-image: url(../img/se-1cambio.webp);
}

.vest {
  margin-top: 70px;
  display: grid;
  grid-template-areas: "img  aside " "img  aside " "img  aside   ";
  grid-template-columns: 60% 40%;
  grid-template-rows: 33.1% 33.5% 33.3%;
}
.vest div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vest div img {
  width: 95%;
  grid-area: img;
}
.vest .aside-vest {
  padding: 0 10%;
  background-color: #dadaf0;
  grid-area: aside;
  line-height: 2em;
}
.vest .aside-vest .h1-vest {
  font-size: 2em;
}
.vest .aside-vest .pvest {
  font-family: "Metamorphous", serif;
}
.vest .aside-vest .pvest button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Jura", sans-serif;
}
.vest .aside-vest .pvest button:hover {
  background-color: white;
  border: solid black;
  color: #000000;
}

/* ------ABOUT US------- */
.img-about {
  width: 100%;
}

.about {
  font-family: "Metamorphous", serif;
  font-size: 1.5em;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 30px;
}

/* ---------CONTACT--------- */
.main-contact {
  margin-top: 5%;
  justify-content: center;
  display: flex;
}
.main-contact .imgatito {
  margin-left: 20px;
  padding: 10px;
  width: 50%;
  height: 70%;
}
.main-contact .right2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.main-contact .right2 .parrafo {
  color: rgb(186, 96, 194);
  font-size: 20px;
}
.main-contact .right2 form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* ----------DEVOLUCION--------- */
.devolucion {
  margin-left: 5%;
  font-size: 1.3em;
}

/* ----------------------------------------------------MEDIA QUERY---------------------------------------------------- */
/* --------------index--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
  #grid-index {
    display: grid;
    grid-template-areas: " header   header     header  " " nav      sec-ind    sec-ind  " " nav      sec-des   sec-des  " " nav      sec-des   sec-des  " " nav      footer     footer  ";
    grid-template-columns: 15% 40% 45%;
    grid-template-rows: 1% 12% 30% 50% 25%;
  }
  #grid-index header {
    grid-area: header;
  }
  #grid-index nav {
    grid-area: nav;
  }
  #grid-index nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    position: relative;
  }
  #grid-index nav ul .left {
    display: flex;
    flex-direction: column;
  }
  #grid-index nav ul .left li {
    padding: 10px;
  }
  #grid-index nav ul .left li .logo {
    margin-top: 20px;
  }
  #grid-index nav ul .right {
    display: flex;
    flex-direction: column;
  }
  #grid-index .section-index {
    grid-area: sec-ind;
  }
  #grid-index .sect-dest {
    grid-area: sec-des;
  }
  #grid-index .sect-dest .destacados {
    display: grid;
    grid-template-areas: "img1  img2 " "img3  img4" "img5  img6" "img7  img8";
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30% 30%;
    justify-content: center;
  }
  #grid-index footer {
    grid-area: footer;
  }
}
/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width: 425px) {
  #grid-index {
    display: grid;
    grid-template-areas: " header    header    " " nav       nav       " " sec-ind   sec-ind   " " sec-des   sec-des   " " footer    footer    ";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1% 4.5% 10% 60% 35%;
  }
  #grid-index header {
    font-size: 8px;
  }
  #grid-index nav {
    position: sticky;
  }
  #grid-index nav ul {
    display: flex;
    flex-direction: row;
    padding: 0.5%;
    justify-content: space-between;
  }
  #grid-index nav ul .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
  }
  #grid-index nav ul .left .logo {
    width: 40px;
    margin: 0;
  }
  #grid-index nav ul .right {
    display: flex;
    flex-direction: row;
  }
  #grid-index nav ul .right .btn {
    font-size: 12px;
  }
  #grid-index .section-index {
    font-size: 0.7em;
  }
  #grid-index .destacados {
    display: grid;
    grid-template-areas: "img1  img2 " "img3  img4 " "img5  img6" "img7  img8";
    grid-template-columns: 45% 45%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: center;
  }
  #grid-index footer a {
    font-size: 15px;
  }
  #grid-index footer .div-redes {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  #grid-index footer .div-redes .redes {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #grid-index footer .div-p {
    font-size: 10px;
  }
}
/* --------------shop--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
  #grid-shop {
    display: grid;
    grid-template-areas: " header   header      " " nav      contenedor-collec    " " nav      contenedor-collec  " " nav      footer   ";
    grid-template-columns: 15% 85%;
    grid-template-rows: 2% 18% 60% 25%;
  }
  #grid-shop header {
    grid-area: header;
  }
  #grid-shop nav {
    grid-area: nav;
  }
  #grid-shop nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    position: relative;
    padding: 0;
  }
  #grid-shop nav ul .left {
    display: flex;
    flex-direction: column;
  }
  #grid-shop nav ul .left li {
    padding: 10px;
  }
  #grid-shop nav ul .left li .logo {
    margin-top: 20px;
  }
  #grid-shop nav ul .right {
    display: flex;
    flex-direction: column;
  }
  #grid-shop .contenedor-collec {
    grid-area: contenedor-collec;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #grid-shop .contenedor-collec .enlaces {
    display: grid;
    grid-template-areas: "sinmangas   sinmangas" "basicos        faldas" "vestidos    vestidos";
    grid-template-columns: 45% 45%;
    grid-template-rows: 20% 20% 50%;
    justify-content: center;
  }
  #grid-shop footer {
    grid-area: footer;
  }
}
/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width: 425px) {
  #grid-shop {
    display: flex;
    flex-direction: column;
  }
  #grid-shop nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #grid-shop .enlaces {
    display: flex;
    flex-direction: column;
  }
}
/* --------------vestidos--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
  #grid-collections {
    display: grid;
    grid-template-areas: "header header " "nav cont  " "nav footer  ";
    grid-template-columns: 15% 85%;
    grid-template-rows: 2% 180% 30%;
  }
  #grid-collections header {
    grid-area: header;
    font-size: 12px;
  }
  #grid-collections nav {
    grid-area: nav;
  }
  #grid-collections nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  #grid-collections nav ul .left {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  #grid-collections nav ul .left li {
    padding: 10px;
  }
  #grid-collections nav ul .left li .logo {
    margin-top: 20px;
  }
  #grid-collections nav ul .right {
    display: flex;
    flex-direction: column;
  }
  #grid-collections nav ul .btn {
    font-size: 12px;
  }
  #grid-collections .contenedor-vestidos {
    grid-area: cont;
  }
  #grid-collections .contenedor-vestidos h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  #grid-collections .contenedor-vestidos .vestidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #grid-collections .contenedor-vestidos .vestidos a {
    display: block;
    width: 90%;
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
  }
  #grid-collections .contenedor-vestidos .vestidos .img-cambio1 {
    background-image: url(../img/vd-1.webp);
  }
  #grid-collections .contenedor-vestidos .vestidos .img-cambio1:hover {
    background-image: url(../img/vd-1cambio.webp);
  }
  #grid-collections .contenedor-vestidos .vestidos .img-cambio2 {
    background-image: url(../img/vl-1.webp);
  }
  #grid-collections .contenedor-vestidos .vestidos .img-cambio2:hover {
    background-image: url(../img/vl-1cambio.webp);
  }
  #grid-collections .contenedor-vestidos .vestidos .img-cambio3 {
    background-image: url(../img/vs-1.webp);
  }
  #grid-collections .contenedor-vestidos .vestidos .img-cambio3:hover {
    background-image: url(../img/vs-1cambio.webp);
  }
}
/*--------------sin mangas--------------*/
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
  .contenedor-vestidos .sinmangas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contenedor-vestidos .sinmangas a {
    display: block;
    width: 90%;
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
  }
}
/*--------------basicos--------------*/
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
  .contenedor-vestidos .basicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contenedor-vestidos .basicos a {
    display: block;
    width: 90%;
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
  }
}
/*--------------faldas--------------*/
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
  .contenedor-vestidos .faldas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contenedor-vestidos .faldas a {
    display: block;
    width: 90%;
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
  }
}
/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width: 425px) {
  #grid-collections {
    display: grid;
    grid-template-areas: "header header" "nav nav" "cont cont" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 2% 6% 90% 36%;
  }
}
/* --------------resto de las paginas--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
  .grid-footer {
    display: grid;
    grid-template-areas: "nav header  header" "nav main    main" "nav footer  footer";
    grid-template-columns: 15% 42% 43%;
    grid-template-rows: 2% 80% 25%;
  }
  .grid-footer header {
    grid-area: header;
  }
  .grid-footer nav {
    grid-area: nav;
  }
  .grid-footer nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    position: relative;
  }
  .grid-footer nav ul .left {
    display: flex;
    flex-direction: column;
  }
  .grid-footer nav ul .left li {
    padding: 10px;
  }
  .grid-footer nav ul .left li .logo {
    margin-top: 20px;
  }
  .grid-footer nav ul .right {
    display: flex;
    flex-direction: column;
  }
  .grid-footer main {
    grid-area: main;
  }
  .grid-footer-contact {
    display: grid;
    grid-template-areas: "nav header  header" "nav main    main" "nav footer  footer";
    grid-template-columns: 15% 42% 43%;
    grid-template-rows: 3% 65% 42%;
  }
  .grid-footer-contact header {
    grid-area: header;
  }
  .grid-footer-contact nav {
    grid-area: nav;
  }
  .grid-footer-contact nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    position: relative;
  }
  .grid-footer-contact nav ul .left {
    display: flex;
    flex-direction: column;
  }
  .grid-footer-contact nav ul .left li {
    padding: 10px;
  }
  .grid-footer-contact nav ul .left li .logo {
    margin-top: 20px;
  }
  .grid-footer-contact nav ul .right {
    display: flex;
    flex-direction: column;
  }
  .grid-footer-contact .main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-footer-contact .main-contact .imgatito {
    width: 100%;
    height: 100%;
  }
  footer {
    grid-area: footer;
  }
  footer ul {
    padding: 0;
  }
}
/*-------------------------MOBILE L--------------------------*/
@media screen and (max-width: 425px) {
  .grid-footer {
    display: grid;
    grid-template-areas: "header header  " "nav nav   " "main main" " footer  footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 2% 4% 1fr 20%;
  }
  .grid-footer-contact {
    display: grid;
    grid-template-areas: "header header  " "nav nav   " "main main" " footer  footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 2% 8% 80% 40%;
  }
  .grid-footer-contact .main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-footer-contact .main-contact .right2 {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }
}
/* Selector/estilos universales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
body .container {
  height: 100vh;
}
body .p-pages {
  margin-top: 10px;
  font-family: monospace;
  font-size: 1.2em;
  text-align: center;
}
body a {
  text-decoration: none;
  color: #f5a5cd;
}
body a:visited {
  text-decoration: none;
}
body h1 {
  text-align: center;
  padding: 5%;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5em;
}
body h2 {
  font-family: "Almendra SC", serif;
  color: #6a6b83;
  font-size: 2em;
}

/*# sourceMappingURL=style.css.map */
