/* ------ABOUT US------- */
.img-about {
    width: 100%;
}
.about {
    font-family: "Metamorphous", serif;
    font-size: 1.5em;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 30px;
}

/* ---------CONTACT--------- */

.right2 

.main-contact {
    margin-top: 5%;
    justify-content: center;
    display: flex;
    .imgatito {
        margin-left: 20px;
        padding: 10px;
        width: 50%;
        height: 70%;
    }
    .right2 {
        padding: 10px;
        display: flex;
        flex-direction: column;
        max-width: 50%;
        .parrafo {
            color: rgb(186, 96, 194);
            font-size: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
    }
}


/* ----------DEVOLUCION--------- */

.devolucion {
   margin-left: 5%;
   font-size: 1.3em;
}
