//vestidos
.contenedor-vestidos {
    #carouselVestidos {
        display: none;
    }
    .vestidos {
        height: 800px;
        display: grid;
        justify-content: space-around;
        grid-template-areas: 
        "a b c "
        "a b c "
        "a b c ";
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 40% 15% 15% ; 
    
        .img-hover-wrap {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            display: block;
            .hover-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 0.5rem 1rem;
                border-radius: 10px;
                font-size: 1rem;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                z-index: 3;
                pointer-events: none;
                text-align: center;
            }

            &:hover .hover-text {
                opacity: 1;
            }
    
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.3s ease-in-out;
            }
        
            .img-normal {
                opacity: 1;
                z-index: 1;
            }
        
            .img-hover {
                opacity: 0;
                z-index: 2;
            }
        
            &:hover {
                .img-normal {
                opacity: 0;
                }
        
                .img-hover {
                opacity: 1;
                }
            }
        }
    
        a:nth-child(1) {
        grid-area: a;
        }
    
        a:nth-child(2) {
        grid-area: b;
        }
    
        a:nth-child(3) {
        grid-area: c;
        }
    }
}

//sin mangas
.contenedor-vestidos {
    #carouselVestidos {
        display: none;
    }
    .sinmangas {
        height: 800px;
        display: grid;
        justify-content: space-around;
        grid-template-areas:
        "a2 b2 c2"
        "a2 b2 c2"
        "a2 b2 c2";
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 40% 15% 15%;
    
        .img-hover-wrap {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: block;
        .hover-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 0.5rem 1rem;
                border-radius: 10px;
                font-size: 1rem;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                z-index: 3;
                pointer-events: none;
                text-align: center;
            }

            &:hover .hover-text {
                opacity: 1;
            }
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.3s ease-in-out;
        }
    
        .img-normal {
            opacity: 1;
            z-index: 1;
        }
    
        .img-hover {
            opacity: 0;
            z-index: 2;
        }
    
        &:hover {
            .img-normal {
            opacity: 0;
            }
    
            .img-hover {
            opacity: 1;
            }
        }
        }
    
        a:nth-child(1) {
        grid-area: a2;
        }
    
        a:nth-child(2) {
        grid-area: b2;
        }
    
        a:nth-child(3) {
        grid-area: c2;
        }
    }
}

//basicos
.contenedor-vestidos {
    #carouselVestidos {
        display: none;
    }
   .basicos {
        height: 800px;
        display: grid;
        justify-content: space-around;
        grid-template-areas: 
        "a3 b3 c3 "
        "a3 b3 c3 "
        "a3 b3 c3 ";
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 40% 15% 15% ; 
        .img-hover-wrap {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: block;
        .hover-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 0.5rem 1rem;
            border-radius: 10px;
            font-size: 1rem;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            z-index: 3;
            pointer-events: none;
            text-align: center;
        }

        &:hover .hover-text {
            opacity: 1;
        }
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.3s ease-in-out;
        }
    
        .img-normal {
            opacity: 1;
            z-index: 1;
        }
    
        .img-hover {
            opacity: 0;
            z-index: 2;
        }
    
        &:hover {
            .img-normal {
            opacity: 0;
            }
    
            .img-hover {
            opacity: 1;
            }
        }
        }
    
        a:nth-child(1) {
        grid-area: a3;
        }
    
        a:nth-child(2) {
        grid-area: b3;
        }
    
        a:nth-child(3) {
        grid-area: c3;
        }
    } 
}

//faldas
.contenedor-vestidos {
    #carouselVestidos {
        display: none;
    }
    .faldas {
        height: 800px;
        display: grid;
        justify-content: space-around;
        grid-template-areas: 
        "a4 b4 c4 "
        "a4 b4 c4 "
        "a4 b4 c4 ";
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 40% 15% 15% ; 
        .img-hover-wrap {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: block;
        .hover-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 0.5rem 1rem;
                border-radius: 10px;
                font-size: 1rem;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                z-index: 3;
                pointer-events: none;
                text-align: center;
            }

            &:hover .hover-text {
                opacity: 1;
            }
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.3s ease-in-out;
        }
    
        .img-normal {
            opacity: 1;
            z-index: 1;
        }
    
        .img-hover {
            opacity: 0;
            z-index: 2;
        }
    
        &:hover {
            .img-normal {
            opacity: 0;
            }
    
            .img-hover {
            opacity: 1;
            }
        }
        }
    
        a:nth-child(1) {
        grid-area: a4;
        }
    
        a:nth-child(2) {
        grid-area: b4;
        }
    
        a:nth-child(3) {
        grid-area: c4;
        }
    }
}
