
$color-principal: #f8c8dc; 
$color-hover: #f6a5c0;     
$fuente-principal: 'Orbitron', sans-serif;

/* Selector/estilos universales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: rgb(241, 218, 255);
    color: rgb(0, 0, 0);
    .container {
        height: 100vh;
    }
    .p-pages {
        margin-top: 10px;
        font-family: monospace;
        font-size: 1.2em;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: #f5a5cd;    
    }
    a:visited {
        text-decoration: none;
    }
    h1 {
        text-align: center;
        padding: 5%;
        font-family: "Orbitron", sans-serif;
        font-size: 1.5em;
        
    }
    h2 { 
        font-family: "Almendra SC", serif;
        color: #6a6b83; 
        font-size: 2em;
    }
}   
//

@mixin img-destacados {
    width: 100%;
    padding: 10px;
}


.img-inicio {
    width: 100%;
}

.sect-dest {
    background-color: $color-principal;
    text-align: center;
    padding-bottom: 10px;
    font-family: $fuente-principal;
    transition: background-color 0.5s ease; 

    &:hover {
        background-color: $color-hover; 
    }

    h2 {
        padding: 10px;
    }

    .destacados {
        display: grid;
        grid-template-areas: 
            "img1 img2 img3 img4"
            "img5 img6 img7 img8";
        grid-template-columns: 23% 23% 23% 23%;
        grid-template-rows: 50% 50%;
        justify-content: center;

        .imgs {
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.09);
            }
        }

        #img1 { grid-area: img1; @include img-destacados; }
        #img2 { grid-area: img2; @include img-destacados; }
        #img3 { grid-area: img3; @include img-destacados; }
        #img4 { grid-area: img4; @include img-destacados; }
        #img5 { grid-area: img5; @include img-destacados; }
        #img6 { grid-area: img6; @include img-destacados; }
        #img7 { grid-area: img7; @include img-destacados; }
        #img8 { grid-area: img8; @include img-destacados; }
    }
}







