header {
    text-align: center;
    background-color: #d4c3d2;
    h3 {
        font-size: 0.9em;
        font-family: 'Times New Roman', Times, serif;
        padding: 5px;

    }

}


nav {
    position: sticky !important;
    top: 0;
    z-index: 999;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: rgb(253, 240, 255);
    margin-bottom: 10px;
    ul {
        font-family: "Turret Road", sans-serif;
        font-weight: 1000;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5em;
        justify-content: space-between;
        margin: 0;
        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            li {
                padding-left: 10%;
                list-style-type: none;
                .logo {
                    width: 65px; 
                    border-radius: 30%;
                }
            }
        }
        .right{
            display: flex;
            flex-direction: row;
            align-items: center;
            
        } 
    }

}

.form-1 {
    display: flex;
    flex-direction: column;
}