/* ----------------------------------------------------MEDIA QUERY---------------------------------------------------- */
$fondo-nav: rgb(225, 210, 231);

/* --------------index--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
    #grid-index {
      display: grid;
      grid-template-areas: 
        "header header header"
        "nav sec-ind sec-ind"
        "nav sec-des sec-des"
        "nav sec-des sec-des"
        "footer footer footer";
      grid-template-columns: 15% 40% 45%;
      grid-template-rows: 1.5% 15% 30% 53% 1fr;
      overflow-y: visible; 
  
      header {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: header;
  
        h3 {
          margin: 0;
          padding: 0;
          font-size: 12px;
        }
      }
  
      nav {
        grid-area: nav;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $fondo-nav;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        height: 100vh; 
        overflow-y: auto; 
  
        ul {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-size: 15px;
          height: 100%;
  
          li {
            display: flex;
            flex-direction: column;
            gap: 40px;
  
            .left {
              font-size: 12px;
              padding: 10px;
              a{
                img {             
                  .logo {
                    margin-top: 20px;
                  }
                }
              }
            }
  
            button {
              margin-top: 10px;
              font-size: 10px;
              padding: 20%;
            }
          }
        }
      }
  
      .section-index {
        grid-area: sec-ind;
        h1 {
          font-size: 100%;

        }
      }
  
      .sect-dest {
        grid-area: sec-des;
  
        .destacados {
          display: grid;
          grid-template-areas: 
            "img1 img2"
            "img3 img4"   
            "img5 img6"   
            "img7 img8";
          grid-template-columns: 50% 50%;
          grid-template-rows: 30% 30% 30% 30%;
          justify-content: center;
        }
      }
  
      footer {
        grid-area: footer;
      }
    }
}


/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width: 425px) {
  #grid-index {
    display: grid;
    grid-template-areas: 
      "header header"
      "nav nav"
      "sec-ind sec-ind"
      "sec-des sec-des"
      "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5% 1.5% 5% 80% 15%;

    header {
      h3 {
        font-size: 10px;
        padding: 10px;
      }
    }

    nav {
      grid-area: nav;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      background-color: $fondo-nav;
      position: sticky;
      top: 0;
      z-index: 1000;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        padding: 0;

        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;

          a {
            font-size: 10px;
            padding: 4px;
          }

          .logo {
            width: 40px;
            margin: 0;
          }

          .btn {
            font-size: 10px;
            padding: 2px 6px;
            margin: 0;
          }
        }
      }
    }

    .section-index {
      font-size: 0.7em;

      h1 {
        margin-top: 20px;
      }
    }

    .sect-dest {
      h4 {
        margin-bottom: 20px;
      }

      .destacados {
        display: flex;
        flex-direction: column;
        align-items: center;

        .imgs {
          width: 80%;
        }
      }
    }

    footer {
      a {
        font-size: 15px;
      }

      .div-redes {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .redes {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }

      .div-p {
        font-size: 10px;
      }
    }
  }
}

/* --------------shop--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
    #grid-shop {
      display: grid;
      grid-template-areas: 
        "header   header"
        "nav      contenedor-collec"
        "nav      contenedor-collec"
        "footer   footer";
      grid-template-columns: 15% 85%;
      grid-template-rows: 2% 25% 72.5% 1fr;
      overflow-y: visible; 
  
      header {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: header;
  
        h3 {
          margin: 0;
          padding: 0;
          font-size: 12px;
        }
      }
  
      nav {
        grid-area: nav;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $fondo-nav;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        height: 100vh; 
        overflow-y: auto; 
  
        ul {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-size: 15px;
          height: 100%;
  
          li {
            display: flex;
            flex-direction: column;
            gap: 40px;
  
            .left {
              font-size: 12px;
              padding: 10px;
  
              a{
                img {             
                  .logo {
                    margin-top: 20px;
                  }
                }
              }
            }
  
            button {
              margin-top: 10px;
              font-size: 10px;
              padding: 20%;
            }
          }
        }
      }
  
      .contenedor-collec {
        grid-area: contenedor-collec;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        .enlaces {
          display: grid;
          grid-template-areas: 
            "sinmangas sinmangas"
            "basicos   faldas"
            "vestidos  vestidos";
          grid-template-columns: 50% 50%;
          grid-template-rows: 20% 20% 50%;
          justify-content: center;
        }
      }
  
      footer {
        grid-area: footer;
      }
    }
}

/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width:425px) {
    #grid-shop {
        display: flex;
        flex-direction: column;
        header {
          h3 {
            font-size: 10px;
            padding: 10px;
          }
        }

      nav {
        grid-area: nav;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: $fondo-nav;
        position: sticky;
        top: 0;
        z-index: 1000;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 10px 0;
          padding: 0;

          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            a {
              font-size: 10px;
              padding: 4px;
            }

            .logo {
              width: 40px;
              margin: 0;
            }

            .btn {
              font-size: 10px;
              padding: 2px 6px;
              margin: 0;
            }
          }
        }
      }
        .contenedor-collec {
            .enlaces {
                display: flex;
                flex-direction: column;
            }
        }
        
        footer {
            a {
                font-size: 15px;
            }
            .div-redes {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .redes {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    
                }
            }
            .div-p {
                font-size: 10px;
            }
        }
    }
}


/* --------------vestidos--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width:768px) {
    #grid-collections {
        display: grid;
        grid-template-areas: 
        "header header "
        "nav cont  "
        "nav footer  ";
        grid-template-columns: 15%  85%;
        grid-template-rows: 2% 180% 30%;
        header {
            grid-area: header;
            font-size: 12px;
        }
        nav {
            grid-area: nav;
            position: sticky;  
            top: 0;           
            z-index: 10;       
            background-color: $fondo-nav;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
            
            ul {
              padding: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 15px;
                li {
                    display: flex;
                    flex-direction: column;
                    .left {
                        font-size: 12px;
                        padding: 10px;
                        a{
                          img {             
                            .logo {
                              margin-top: 20px;
                            }
                          }
                        }
                      }
            
                      button {
                        margin-top: 10px;
                        font-size: 10px;
                        padding: 20%;
                      }
                }
            }
        }
        
        .contenedor-vestidos {
          padding: 0 10px;
          align-items: center;
          justify-content: center;
          grid-area: cont;
          
            h1 {
              text-align: center;
              margin-bottom: 2rem;
            }

            #carouselVestidos {
              max-width: 90%;
              margin: 0 auto;
              display: block;
              img {
                aspect-ratio: 3 / 4;
                object-fit: cover;
                border-radius: 8px;
              }
            }
            .vestidos {
              display: none;
              align-items: center;
              gap: 20px;
  
              a {
                display: block;
                width: 90%;
                aspect-ratio: 3 / 4; 
                background-size: cover;
                background-position: center;
                transition: background-image 0.3s ease;
              }
          
              .img-cambio1 {
                background-image: url(../img/vd-1.webp);
                &:hover {
                  background-image: url(../img/vd-1cambio.webp);
                }
              }
          
              .img-cambio2 {
                background-image: url(../img/vl-1.webp);
                &:hover {
                  background-image: url(../img/vl-1cambio.webp);
                }
              }
          
              .img-cambio3 {
                background-image: url(../img/vs-1.webp);
                &:hover {
                  background-image: url(../img/vs-1cambio.webp);
                }
              }
            }
        }
          
    }
}

/*--------------sin mangas--------------*/
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
    #grid-collections {
      display: grid;
      grid-template-areas: 
        "header header"
        "nav cont-ves"
        "footer footer";
      grid-template-columns: 15% 85%;
      grid-template-rows: 3% 97% 1fr; 
      min-height: 100vh;
  
      header {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: header;
  
        h3 {
          margin: 0;
          padding: 0;
          font-size: 12px;
        }
      }
  
      nav {
        grid-area: nav;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $fondo-nav;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        height: 100vh; 
        overflow-y: auto; 
  
        ul {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-size: 15px;
          height: 100%;
  
          li {
            display: flex;
            flex-direction: column;
            gap: 40px;
  
            .left {
              font-size: 12px;
              padding: 10px;
  
              a{
                img {             
                  .logo {
                    margin-top: 20px;
                  }
                }
              }
            }
  
            button {
              margin-top: 10px;
              font-size: 10px;
              padding: 20%;
            }
          }
        }
      }
  
      .contenedor-vestidos {
        grid-area: cont-ves;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
        #carouselVestidos {
          max-width: 90%;
          margin: 0 auto;
          display: block;
          img {
            aspect-ratio: 3 / 4;
            object-fit: cover;
            border-radius: 8px;
          }
        }

        .sinmangas {
          display: none;
          align-items: center;
          gap: 20px;
  
          a {
            display: block;
            width: 90%;
            aspect-ratio: 3 / 4; 
            background-size: cover;
            background-position: center;
            transition: background-image 0.3s ease;
          }
        }
      }
  
      footer {
        grid-area: footer;
      }
    }
}

/*--------------basicos--------------*/
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
  .contenedor-vestidos {
        grid-area: cont-ves;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
        #carouselVestidos {
          max-width: 90%;
          margin: 0 auto;
          display: block;
          img {
            aspect-ratio: 3 / 4;
            object-fit: cover;
            border-radius: 8px;
          }
        }
    .basicos {
      display: none;
      align-items: center;
      gap: 20px;
  
          a {
            display: block;
            width: 90%;
            aspect-ratio: 3 / 4; 
            background-size: cover;
            background-position: center;
            transition: background-image 0.3s ease;
          }
    }
  }
}

/*--------------faldas--------------*/
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
    .contenedor-vestidos {
        grid-area: cont-ves;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
        #carouselVestidos {
          max-width: 90%;
          margin: 0 auto;
          display: block;
          img {
            aspect-ratio: 3 / 4;
            object-fit: cover;
            border-radius: 8px;
          }
        }
      .faldas {
        display: none;
        align-items: center;
        gap: 20px;
  
        a {
          display: block;
          width: 90%;
          aspect-ratio: 3 / 4; 
          background-size: cover;
          background-position: center;
          transition: background-image 0.3s ease;
        }
      }
    }
}

/* -------------collections (vestidos, faldas, basicos y sinmangas)--------------- */
/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width:425px) {
    #grid-collections {
        display: grid;
        grid-template-areas: 
        "header header"
        "nav nav"
        "cont cont"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 1.3% 3.9% 55% 1fr;
        header {
          h3 {
            font-size: 10px;
            padding: 10px;
          }
        }

      nav {
        grid-area: nav;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: $fondo-nav;
        position: sticky;
        top: 0;
        z-index: 1000;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 0;
          padding: 0;

          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            a {
              font-size: 10px;
              padding: 4px;
            }

            .logo {
              width: 40px;
              margin: 0;
            }

            .btn {
              font-size: 10px;
              padding: 2px 6px;
              margin: 0;
            }
          }
        }
      }

      .contenedor-vestidos {
          grid-area: cont;
          padding: 0 10px;
          align-items: center;
          justify-content: center;
          #carouselVestidos {
            max-width: 90%;
            margin: 0 auto;
            display: block;
            img {
              aspect-ratio: 3 / 4;
              object-fit: cover;
              border-radius: 8px;
            }
          }
      }

        footer {
            a {
                font-size: 15px;
            }
            .div-redes {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .redes {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    
                }
            }
            .div-p {
                font-size: 10px;
            }
        }
    }
}

/* --------------marcas--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width:768px) {
    .grid-marcas {
        .vest {
            div {
                width: 70%;
                .image-container{
                    width: 90%;
                }
            }
            .aside-vest {
                font-size: 15px;
                width: 60%;
                margin: 0;
            }
        }
    }
    

}

/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width:425px) {
    .grid-marcas {
        display: grid;
        grid-template-areas: 
        "header    header"
        "nav       nav"
        "section1  section1"
        "footer    footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 1% 3% 80% 1fr;
        header {
          h3 {
            font-size: 10px;
            padding: 10px;
          }
        }

      nav {
        grid-area: nav;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: $fondo-nav;
        position: sticky;
        top: 0;
        z-index: 1000;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 10px 0;
          padding: 0;

          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            a {
              font-size: 10px;
              padding: 4px;
            }

            .logo {
              width: 40px;
              margin: 0;
            }

            .btn {
              font-size: 10px;
              padding: 2px 6px;
              margin: 0;
            }
          }
        }
      }
        section {
            grid-area: section1;
            .vest {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                margin: 0;
                .image-container {
                    width: 100%;
                    margin-top: 30%;
                }
                .aside-vest {
                  margin: 0;
                  width: 95%;
                  position: relative;
                }
            }  
        }
        footer {
            grid-area: footer;
            a {
                font-size: 15px;
            }
            .div-redes {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .redes {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    
                }
            }
            .div-p {
                font-size: 10px;
            }
        }
    }
}

/* --------------about - contact - devolucion--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
    #grid-footer {
      display: grid;
      grid-template-areas:
        "header header  header"
        "nav    main    main"
        "footer footer  footer";
      grid-template-columns: 15% 42% 43%;
      grid-template-rows: 2% 97.3% 1fr;
      overflow-y: visible;
  
      header {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: header;
  
        h3 {
          margin: 0;
          padding: 0;
          font-size: 12px;
        }
      }
  
      nav {
        grid-area: nav;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $fondo-nav;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        height: 100vh;
        overflow-y: auto;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        ul {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-size: 15px;
          height: 100%;
          
  
          li {
            display: flex;
            flex-direction: column;
            gap: 40px;
  
            .left {
              font-size: 12px;
              padding: 10px;
  
              a{
                img {             
                  .logo {
                    margin-top: 20px;
                  }
                }
              }
            }
  
            button {
              margin-top: 10px;
              font-size: 10px;
              padding: 20%;
            }
          }
        }
      }
  
      main {
        grid-area: main;
        section {
            h1 {
                margin-top: 10px;
            }
            .about {
                margin-bottom: 0;
                font-size: 1.4em;
            }
        }
      }
  
      footer {
        grid-area: footer;
  
        ul {
          padding: 0;
        }
      }
    }
  
    #grid-footer-contact {
      display: grid;
      grid-template-areas:
        "header header"
        "nav    main"
        "footer footer";
      grid-template-columns: 15% 85%;
      grid-template-rows: 3% 97% 1fr;
      overflow-y: visible;
  
      header {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: header;
  
        h3 {
          margin: 0;
          padding: 0;
          font-size: 12px;
        }
      }
  
      nav {
        margin: 0;
        grid-area: nav;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $fondo-nav;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        height: 100vh;
        overflow-y: auto;
  
        ul {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-size: 15px;
          height: 100%;
  
          li {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .left {
              font-size: 12px;
              padding: 10px;
  
             a{
                img {             
                  .logo {
                    margin-top: 20px;
                  }
                }
              }
            }
  
            button {
              margin-top: 10px;
              font-size: 10px;
              padding: 20%;
            }
          }
        }
      }
  
      main {
        grid-area: main;
        padding: 0;
        .main-contact {
            margin: 0;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
  
            .imgatito {
                width: 30%;
                height: 40%;
                margin: 0;
            }
            .right2 {
                padding: 10px;
            }
        }
      }
  
      footer {
        grid-area: footer;
  
        ul {
          padding: 0;
        }
      }
    }
}

/*-------------------------MOBILE L--------------------------*/
@media screen and (max-width:425px) {
    #grid-footer {
        display: grid;
        grid-template-areas: 
        "header header  "
        "nav nav   "
        "main main"
        " footer  footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 1% 4% 70% 1fr;
        header {
          h3 {
            font-size: 10px;
            padding: 10px;
          }
        }

      nav {
        grid-area: nav;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: $fondo-nav;
        position: sticky;
        top: 0;
        z-index: 1000;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 10px 0;
          padding: 0;

          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            a {
              font-size: 10px;
              padding: 4px;
            }

            .logo {
              width: 40px;
              margin: 0;
            }

            .btn {
              font-size: 10px;
              padding: 2px 6px;
              margin: 0;
            }
          }
        }
      }
        main {
            section {
                .about {
                   
                    font-size: 1.2em;
                    color: rgb(255, 255, 255);
                    
                }
            }
        }

        footer {
            a {
                font-size: 15px;
            }
            .div-redes {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .redes {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    
                }
            }
            .div-p {
                font-size: 10px;
            }
        }
    }


    #grid-footer-contact {
        display: grid;
        grid-template-areas: 
        "header header  "
        "nav nav   "
        "main main"
        " footer  footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 1.3% 4% 78% 1fr;
        header {
          h3 {
            font-size: 10px;
            padding: 10px;
          }
        }

      nav {
        grid-area: nav;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: $fondo-nav;
        position: sticky;
        top: 0;
        z-index: 1000;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 10px 0;
          padding: 0;

          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            a {
              font-size: 10px;
              padding: 4px;
            }

            .logo {
              width: 40px;
              margin: 0;
            }

            .btn {
              font-size: 10px;
              padding: 2px 6px;
              margin: 0;
            }
          }
        }
      }
        main {
            grid-column: 1 / 3; 
            width: 100%;        
            .container {
                .main-contact {
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    padding: 0 15px;
                    box-sizing: border-box;
                    overflow-x: hidden;
    
                    .imgatito {
                        width: 100%;
                        height: auto;
                    }
    
                    .right2 {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
         
        footer {
            a {
                font-size: 15px;
            }
            .div-redes {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .redes {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    
                }
            }
            .div-p {
                font-size: 10px;
            }
        }
    }
}



