/* ----------------------------------------------------MEDIA QUERY---------------------------------------------------- */
/* --------------index--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width:768px) {

    #grid-index {
        display: grid;
        grid-template-areas: 
        " header   header     header  "
        " nav      sec-ind    sec-ind  "
        " nav      sec-des   sec-des  "
        " nav      sec-des   sec-des  "
        " nav      footer     footer  ";
        grid-template-columns:15% 40% 45% ;
        grid-template-rows:  1% 12% 30% 50% 25%;
        header {
            grid-area: header;
        }
        nav {
            grid-area: nav;
            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 15px;
                position: relative;
                .left {
                    display: flex;
                    flex-direction: column;
                    li{
                        padding: 10px;
                        .logo {
                            margin-top: 20px;
                        }
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .section-index {
            grid-area: sec-ind;
        }
        .sect-dest {
            grid-area: sec-des;
            .destacados {
                display: grid;
                grid-template-areas: 
                "img1  img2 "
                "img3  img4"   
                "img5  img6"   
                "img7  img8";
                grid-template-columns:50% 50%;
                grid-template-rows: 30% 30% 30% 30%;
                justify-content: center;
            }
        }
        footer {
            grid-area: footer;
        }
    }
  
}


/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width:425px) {
    #grid-index {
        display: grid;
        grid-template-areas: 
        " header    header    "
        " nav       nav       "
        " sec-ind   sec-ind   "
        " sec-des   sec-des   "
        " footer    footer    ";
        grid-template-columns: 50% 50% ;
        grid-template-rows:  1% 4.5% 10% 60% 35%;
        header {
            font-size: 8px;
        }
        nav {
            position: sticky;
            ul {
                display: flex;
                flex-direction: row;
                padding: 0.5%; 
                justify-content: space-between;
                .left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 10px;
                    .logo {
                        width: 40px;  
                        margin: 0;
                    }
                }
                .right {
                    display: flex;
                    flex-direction: row;
                    .btn {
                        font-size: 12px;
                    }
                }
            }        
        }
        .section-index {
            font-size: 0.7em;
        }   
        .destacados {
            display: grid;
            grid-template-areas: 
            "img1  img2 "   
            "img3  img4 " 
            "img5  img6"   
            "img7  img8";
            grid-template-columns:45% 45%;
            grid-template-rows: 25% 25% 25% 25%;
            justify-content: center;
        }
        footer {
            a {
                font-size: 15px;
            }
            .div-redes {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .redes {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    
                }
            }
            .div-p {
                font-size: 10px;
            }
        }
    }  
}

/* --------------shop--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width:768px) {

    #grid-shop {
        display: grid;
        grid-template-areas: 
        " header   header      "
        " nav      contenedor-collec    "
        " nav      contenedor-collec  "
        " nav      footer   ";
        grid-template-columns:15% 85% ;
        grid-template-rows:  2% 18% 60% 25%;
        header {
            grid-area: header;
        }
        nav {
            grid-area: nav;
           
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 15px;
                position: relative; 
                padding: 0;
                .left {
                    display: flex;
                    flex-direction: column;
                    li{
                        padding: 10px;
                        .logo {
                            margin-top: 20px;
                        }
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .contenedor-collec {
            grid-area: contenedor-collec;
            display: flex;
            flex-direction: column;
            align-items: center;
            .enlaces {
                display: grid;
                grid-template-areas: 
                "sinmangas   sinmangas"
                "basicos        faldas"
                "vestidos    vestidos";
                grid-template-columns:45% 45% ;
                grid-template-rows:  20% 20% 50%;
                justify-content: center;

            }
        }
        footer {
            grid-area: footer;
        }
    }
    
}

/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width:425px) {
    #grid-shop {
        display: flex;
        flex-direction: column;
        nav {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between; 
            }
        }
        .enlaces {
            display: flex;
            flex-direction: column;
        }
    }
}


/* --------------vestidos--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width:768px) {
    #grid-collections {
        display: grid;
        grid-template-areas: 
        "header header "
        "nav cont  "
        "nav footer  ";
        grid-template-columns: 15%  85%;
        grid-template-rows: 2% 180% 30%;
        header {
            grid-area: header;
            font-size: 12px;
        }
        nav {
            grid-area: nav;
            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                .left {
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    li{
                        padding: 10px;
                        .logo {
                            margin-top: 20px;
                        }
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                }
                .btn {
                    font-size: 12px;
                }
            }
        }
        
        .contenedor-vestidos {
            grid-area: cont;
          
            h1 {
              text-align: center;
              margin-bottom: 2rem;
            }
          
            .vestidos {
              display: flex;              
              flex-direction: column;     
              align-items: center;       
              gap: 20px;                  
          
              a {
                display: block;
                width: 90%;               
                aspect-ratio: 3 / 4;      
                background-size: cover;   
                background-position: center;
                transition: background-image 0.3s ease;
              }
          
              .img-cambio1 {
                background-image: url(../img/vd-1.webp);
                &:hover {
                  background-image: url(../img/vd-1cambio.webp);
                }
              }
          
              .img-cambio2 {
                background-image: url(../img/vl-1.webp);
                &:hover {
                  background-image: url(../img/vl-1cambio.webp);
                }
              }
          
              .img-cambio3 {
                background-image: url(../img/vs-1.webp);
                &:hover {
                  background-image: url(../img/vs-1cambio.webp);
                }
              }
            }
        }
          
    }
}
/*--------------sin mangas--------------*/
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
    .contenedor-vestidos {
      .sinmangas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
  
        a {
          display: block;
          width: 90%;
          aspect-ratio: 3 / 4; 
          background-size: cover;
          background-position: center;
          transition: background-image 0.3s ease;
        }
      }
    }
  }

/*--------------basicos--------------*/
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
    .contenedor-vestidos {
      .basicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
  
        a {
          display: block;
          width: 90%;
          aspect-ratio: 3 / 4; 
          background-size: cover;
          background-position: center;
          transition: background-image 0.3s ease;
        }
      }
    }
  }

  /*--------------faldas--------------*/
/*-------------------------TABLET---------------------------*/
@media screen and (max-width: 768px) {
    .contenedor-vestidos {
      .faldas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
  
        a {
          display: block;
          width: 90%;
          aspect-ratio: 3 / 4; 
          background-size: cover;
          background-position: center;
          transition: background-image 0.3s ease;
        }
      }
    }
  }

/*-------------------------MOBILE L---------------------------*/
@media screen and (max-width:425px) {
    #grid-collections {
        display: grid;
        grid-template-areas: 
        "header header"
        "nav nav"
        "cont cont"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 2% 6% 90% 36%;
    }
}


/* --------------resto de las paginas--------------- */
/*-------------------------TABLET---------------------------*/
@media screen and (max-width:768px) {
    .grid-footer {
        display: grid;
        grid-template-areas: 
        "nav header  header"
        "nav main    main"
        "nav footer  footer";
        grid-template-columns: 15% 42% 43%;
        grid-template-rows: 2% 80% 25%;
        header {
            grid-area: header;
        }
        nav {
            grid-area: nav;
            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 15px;
                position: relative;
                .left {
                    display: flex;
                    flex-direction: column;
                    li{
                        padding: 10px;
                        .logo {
                            margin-top: 20px;
                        }
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        main {
            grid-area: main;
        }
    }
    .grid-footer-contact {
        display: grid;
        grid-template-areas: 
        "nav header  header"
        "nav main    main"
        "nav footer  footer";
        grid-template-columns: 15% 42% 43%;
        grid-template-rows: 3% 65% 42%;
        header {
            grid-area: header;
        }
        nav {
            grid-area: nav;
            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 15px;
                position: relative;
                .left {
                    display: flex;
                    flex-direction: column;
                    li{
                        padding: 10px;
                        .logo {
                            margin-top: 20px;
                        }
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .main-contact {
           display: flex;
           flex-direction: column;
           align-items: center;
            .imgatito {
                width: 100%;
                height: 100%;
            }
        }
    }
    footer {
        grid-area: footer;
        ul {
            padding: 0;
        }
    }
}

/*-------------------------MOBILE L--------------------------*/
@media screen and (max-width:425px) {
    .grid-footer {
        display: grid;
        grid-template-areas: 
        "header header  "
        "nav nav   "
        "main main"
        " footer  footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 2% 4% 1fr 20%;
    }
    .grid-footer-contact {
        display: grid;
        grid-template-areas: 
        "header header  "
        "nav nav   "
        "main main"
        " footer  footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 2% 8% 80% 40%;
        .main-contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            .right2{
                max-width: 100%;
                text-align: center;
                align-items: center;
            }
        }
    }     
}



